<!--  ----------------------------------------------------------------------  -->
<!--  NOTE: Please add the following <META> element to your page <HEAD>.      -->
<!--  If necessary, please modify the charset parameter to specify the        -->
<!--  character set of your HTML page.                                        -->
<!--  ----------------------------------------------------------------------  -->
<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
<!--  ----------------------------------------------------------------------  -->
<!--  NOTE: Please add the following <FORM> element to your page.             -->
<!--  ----------------------------------------------------------------------  -->
<form
  action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8"
  method="POST"
>
  <input type="hidden" name="oid" value="00D7Q00000BRe0d" />
  <input type="hidden" name="retURL" value="http://" />
  <!--  ----------------------------------------------------------------------  -->
  <!--  NOTE: These fields are optional debugging elements. Please uncomment    -->
  <!--  these lines if you wish to test in debug mode.                          -->
  <!--  <input type="hidden" name="debug" value=1>                              -->
  <!--  <input type="hidden" name="debugEmail"                                  -->
  <!--  value="johnmccoy@proprhome.com">                                        -->
  <!--  ----------------------------------------------------------------------  -->
  Full Name:<textarea
    id="00N7Q00000JUEay"
    name="00N7Q00000JUEay"
    type="text"
    wrap="soft"
  ></textarea
  ><br />
  <label for="email">Email</label
  ><input id="email" maxlength="80" name="email" size="20" type="text" /><br />
  <label for="phone">Phone</label
  ><input id="phone" maxlength="40" name="phone" size="20" type="text" /><br />
  Customer Type:<select
    id="00N7Q00000JUEb3"
    name="00N7Q00000JUEb3"
    title="Customer Type"
  >
    <option value="">--None--</option>
    <option value="Buyer">Buyer</option>
    <option value="Tenant">Tenant</option>
    <option value="Owner">Owner</option>
    <option value="Agent">Agent</option></select
  ><br />
  Ready to buy:<input
    id="00N7Q00000JUIus"
    name="00N7Q00000JUIus"
    type="checkbox"
    value="1"
  /><br />
  Within one month:<input
    id="00N7Q00000JUIux"
    name="00N7Q00000JUIux"
    type="checkbox"
    value="1"
  /><br />
  Within 6 months:<input
    id="00N7Q00000JUIv2"
    name="00N7Q00000JUIv2"
    type="checkbox"
    value="1"
  /><br />
  <input type="submit" name="submit" />
</form>
